.color:nth-of-type( 1 ) {
  background-color: black;
}

.color:nth-of-type( 2 ) {
  background-color: red;
}

.color:nth-of-type( 3 ) {
  background-color: blue;
}

.color:nth-of-type( 4 ) {
  background-color: green;
}

#color-palette .color {
  border: black solid 1px;
  display: inline-block;
  width: 50px;
  height: 50px;
}
